@import "tailwindcss";
nav {
    background-color: #1E3167;
}
h1 {
    color: white;
}

h2 {
    color: white;
    font-size: 20px;
}

.sep {
    background-color: #FF1737;
    padding: 5px;
}
body {
    font-family: 'system-ui', 'Segoe UI', 'Helvetica', 'sans-serif', 'Arial';
}
.logo{
    width: 30px;
    height: 30px;
}