<!DOCTYPE html>
<html lang="th">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>จุดจอดรถสาย <%= routeInfo.route_number %></title>
  <script src="https://cdn.tailwindcss.com"></script>
<style>
    body {
      background: url('https://i.pinimg.com/736x/9c/04/11/9c04111ba071591f81a455f8e897c5df.jpg')
        no-repeat center center fixed;
      background-size: cover;
      font-family: 'Prompt', sans-serif;
      color: #111; /* ตัวอักษรสีดำ */
    }


    select, input, button {
      color: #111 !important;
    }
  </style>
</head>